

<% @posts.each do |post| %>
  <div>
    <fieldset>
          <p>Added by <%= post.user.name %> | Votes:<%= post.votes %></p>
    <p><%= button_to("upvote", upvote_path(post)) %>  <%= button_to("downvote", downvote_path(post)) %> </p>

<%= image_tag  post.link_url  %>
    <p><a href="<%= post.link_url %>"><%= post.link_url %></a></p>

  </fieldset>
  </div>

  <% end %>
