<!DOCTYPE html>
<html>
<head>
  <title>Redt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <p>
  <% if current_user  %>
      <%= link_to("#{current_user.name}", user_path(current_user.id)) %> |
      <%= link_to "Logout", logout_path %>
      <%= link_to("Post a link", new_post_path) %>
  <% else %>
    <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Login", login_path %>
  <% end %>
  <%= link_to("Browse posts", posts_path) %>
</p>

<p>
  <% if current_user %>
      <%= link_to "Browse Posts", posts_path %> |
      <%= link_to "Browse Users", users_path %>
  <% end %>
</p>
<%= yield %>

</body>
</html>
